//------ Social Icon Colors ------//
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;

$error: #d32f2f;

//------ Other Colors -------//
$primaryBlue_color: #3361ff;
$secondaryBlue_color: #2e69ff;
$tertiaryBlue_color: #2196f3;
$icon_color: #989898;
$contact_icon: #fefefe;
$dropshadow_color: #02282C14;
// $secondary_color: #4D5E80;

//-----Background Color-----//
$primaryBackground: #02282C;
$secondaryBackground:#d9d9d9;
$tertiaryBackground: #FFFFF5;
$quaternaryBackground: #FFF6C9;
$quinaryBackground: #FFC942;
$contactBackground: #033439;
$swiperBackground: #1E1E1E;
$offerBackground: #FFEE9A;
$mudBackground: #d6ba98;
$brushBackground: grey;
$productBackground: #FEFEFE;

// $secondaryBackground: #f1f2f2;
// $tertiaryBackground: #f6f6f6;

//------ Text Color------//
$primaryText: #02282c;
$secondaryText: #fefefe;
$tertiaryText: #6a7c97;
$quaternaryText: #1E1E1E;
$quinaryText: #463805;
$spanText:  #e30e0e;
$hoverText: #ffd600;
$formText: #4D4D4D;
$stockText: #077928;
$productText: #7A7A7A;
$productDescription: #989898;
// $primarySubtext: #7d8fb3;
// $descriptionText: #6e81a7;
// $postDescriptionText: #76849f;
// $postUsername: #282829;
// $postQuesText: #212734;

//------ Border Color ------//
$primaryBorder: #02282c;
$secondaryBorder: #eae9e9;
$tertiaryBorder: #d9d9d9;
$quaternaryBorder: #d0d0d0;
$quinaryBorder: #d1d1d1;
$senaryBorder: #1E1E1E;
$septenaryBorder: #FFF6C9; 
$formBorder: #323232;
$productBorder: #7A7A7A;
$stockBorder: #077928;
// $tagsBorder: #dee0e1;
// $navbarBorder: #edeff2;
// $icons: #c3cad9;
// $searchtextPlaceholder: #adb8cc;

$black: #000000;
$white: #ffffff;

// $primaryPosticon: #2c2c2c;
// $secondaryPosticon: #aeb5c2;
// $tertiaryPosticon: #bcc3cd;
// #B6BDCB comment
// #1F1F1F
// #F9F9F9
// #898F99
// #D8D8D8

@font-face {
    font-family: Clash_Display;
    src: url('../../fonts/ClashDisplay-Variable.ttf');
}
