@import "../helper/reset.scss";

.header_section {
  .header_parent {
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 68px;
      width: 165px;
      float: left;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .side_tab {
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      .left_side_tab {
        .left_side_menu {
          list-style-type: none;
          display: flex;
          gap: 30px;
          .icons_body {
            .icons {
              color: $primaryText;
              line-height: 40px;
              font-size: 28px;
            }
            &:hover {
              .icons {
                color: $hoverText;
              }
            }
          }
        }
      }
      .right_side_tab {
        .right_side_menu {
          list-style-type: none;
          display: flex;
          gap: 8px;
          .login {
            .login_btn {
              color: $primaryText;
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: center;
              border: 1px solid $primaryBorder;
              border-radius: 30px;
              padding: 10px 20px;
            }
            &:hover {
              .login_btn {
                background-color: $hoverText;
              }
            }
          }
          .sign_up {
            .sign_up_btn {
              color: $secondaryText;
              background-color: $primaryBackground;
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: center;
              border: 1px solid $primaryBorder;
              border-radius: 30px;
              padding: 10px 20px;
            }
            &:hover {
              .sign_up_btn {
                color: $hoverText;
              }
            }
          }
        }
      }
      .menu_bar {
        display: none;
        .css-i4bv87-MuiSvgIcon-root {
          width: 24px;
          height: 24px;
          color: $primaryText;
        }
      }
    }
  }
  .header_nav {
    background-color: $primaryBackground;
    .nav_bar {
      list-style-type: none;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      li {
        a {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          color: $secondaryText;
          &.active {
            color: $hoverText;
          }
          &:hover {
            color: $hoverText;
          }
        }
      }
    }
  }
  .responsive_header {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    background-color: $white;
    padding: 11px;
    z-index: 99999;
    position: absolute;
    inset: 0;
    .menu_parent {
      .menu_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .menu_logo {
          height: 48px;
          width: 116px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .close_btn {
          .close_icon {
            color: $primaryText;
          }
          &:hover {
            .close_icon {
              color: $hoverText;
            }
          }
        }
      }
      .menu_bar {
        padding-top: 10px;
        padding-bottom: 10px;
        li {
          margin-bottom: 10px;
          a {
            display: flex;
            align-items: center;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: $primaryText;
            .css-i4bv87-MuiSvgIcon-root {
              width: 24px;
              height: 24px;
              color: $primaryText;
              margin-right: 10px;
            }
            &.active {
              color: $hoverText;
              .css-i4bv87-MuiSvgIcon-root {
                color: $hoverText;
              }
            }
            &:hover {
              color: $hoverText;
              .css-i4bv87-MuiSvgIcon-root {
                color: $hoverText;
              }
            }
          }
        }
      }
      .menu_side_tab {
        .menu_side_menu {
          list-style-type: none;
          display: flex;
          gap: 8px;
          margin-bottom: 10px;
          .menu_login {
            .menu_login_btn {
              color: $primaryText;
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 15px;
              text-align: center;
              border: 1px solid $primaryBorder;
              border-radius: 30px;
              padding: 7px 14px;
            }
            &:hover {
              .menu_login_btn {
                background-color: $hoverText;
              }
            }
          }
          .menu_sign_up {
            .menu_sign_up_btn {
              color: $secondaryText;
              background-color: $primaryBackground;
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 15px;
              text-align: center;
              border: 1px solid $primaryBorder;
              border-radius: 30px;
              padding: 7px 14px;
            }
            &:hover {
              .menu_sign_up_btn {
                color: $hoverText;
              }
            }
          }
        }
      }
    }
  }
}

/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1300px) and (max-width: 1399px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1200px) and (max-width: 1299px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header_section {
    .header_parent {
      padding: 10px;
      .logo {
        height: 61px;
        width: 146px;
      }
      .side_tab {
        gap: 25px;
        .left_side_tab {
          .left_side_menu {
            gap: 25px;
            .icons_body {
              .icons {
                line-height: 35px;
                font-size: 26px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            gap: 8px;
            .login {
              .login_btn {
                line-height: 18px;
                padding: 9px 18px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 18px;
                padding: 9px 18px;
              }
            }
          }
        }
      }
    }
    .header_nav {
      .nav_bar {
        height: 50px;
        gap: 50px;
        .nav_tab {
          .nav_item {
            line-height: 18px;
          }
        }
      }
    }
  }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
  .header_section {
    .header_parent {
      padding: 10px;
      .logo {
        height: 53px;
        width: 127px;
      }
      .side_tab {
        gap: 25px;
        .left_side_tab {
          .left_side_menu {
            gap: 25px;
            .icons_body {
              .icons {
                line-height: 28px;
                font-size: 22px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            gap: 8px;
            .login {
              .login_btn {
                line-height: 15px;
                padding: 8px 16px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 15px;
                padding: 8px 16px;
              }
            }
          }
        }
        .menu_bar {
          display: block;
        }
      }
    }
    .header_nav {
      .nav_bar {
        display: none;
      }
    }
    .responsive_header {
      .menu_parent {
        .menu_side_tab {
          .menu_side_menu {
            display: none;
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
  .header_section {
    .header_parent {
      padding: 9px;
      .logo {
        height: 48px;
        width: 116px;
      }
      .side_tab {
        gap: 14px;
        .left_side_tab {
          .left_side_menu {
            gap: 18px;
            .icons_body {
              .icons {
                line-height: 28px;
                font-size: 20px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            gap: 7px;
            .login {
              .login_btn {
                line-height: 15px;
                padding: 7px 14px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 15px;
                padding: 7px 14px;
              }
            }
          }
        }
        .menu_bar {
          display: block;
        }
      }
    }
    .header_nav {
      .nav_bar {
        display: none;
      }
    }
    .responsive_header {
      max-width: 275px;
      .menu_parent {
        .menu_side_tab {
          .menu_side_menu {
            display: none;
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
  .header_section {
    .header_parent {
      padding: 9px;
      .logo {
        height: 44px;
        width: 106px;
      }
      .side_tab {
        gap: 8px;
        .left_side_tab {
          .left_side_menu {
            gap: 16px;
            .icons_body {
              .icons {
                line-height: 28px;
                font-size: 20px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            display: none;
            .login {
              .login_btn {
                line-height: 15px;
                padding: 7px 14px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 15px;
                padding: 7px 14px;
              }
            }
          }
        }
        .menu_bar {
          display: block;
          .css-i4bv87-MuiSvgIcon-root {
            width: 22px;
            height: 28px;
            color: $primaryText;
          }
        }
      }
    }
    .header_nav {
      .nav_bar {
        display: none;
      }
    }
    .responsive_header {
      max-width: 250px;
    }
  }
}

/* Smaller phones */
@media (max-width: 360px) {
  .header_section {
    .header_parent {
      padding: 9px;
      .logo {
        height: 40px;
        width: 96px;
      }
      .side_tab {
        gap: 7px;
        .left_side_tab {
          .left_side_menu {
            gap: 16px;
            .icons_body {
              .icons {
                line-height: 24px;
                font-size: 18px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            display: none;
            .login {
              .login_btn {
                line-height: 12px;
                padding: 6px 12px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 12px;
                padding: 6px 12px;
              }
            }
          }
        }
        .menu_bar {
          display: block;
          .css-i4bv87-MuiSvgIcon-root {
            width: 20px;
            height: 26px;
            color: $primaryText;
          }
        }
      }
    }
    .header_nav {
      .nav_bar {
        display: none;
      }
    }
    .responsive_header {
      max-width: 240px;
      .menu_parent {
        .menu_header {
          margin-bottom: 8px;
          .menu_logo {
            height: 45px;
            width: 109px;
          }
        }
        .menu_bar {
          li {
            margin-bottom: 8px;
          }
        }
        .menu_side_tab {
          .menu_side_menu {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

/* Smaller phones */
@media (max-width: 320px) {
  .header_section {
    .header_parent {
      padding: 8px;
      .logo {
        height: 36px;
        width: 87px;
      }
      .side_tab {
        gap: 6px;
        .left_side_tab {
          .left_side_menu {
            gap: 14px;
            .icons_body {
              .icons {
                line-height: 20px;
                font-size: 16px;
              }
            }
          }
        }
        .right_side_tab {
          .right_side_menu {
            display: none;
            .login {
              .login_btn {
                line-height: 9px;
                padding: 5px 10px;
              }
            }
            .sign_up {
              .sign_up_btn {
                line-height: 9px;
                padding: 5px 10px;
              }
            }
          }
        }
        .menu_bar {
          display: block;
          .css-i4bv87-MuiSvgIcon-root {
            width: 18px;
            height: 26px;
            color: $primaryText;
          }
        }
      }
    }
    .header_nav {
      .nav_bar {
        display: none;
      }
    }
    .responsive_header {
      max-width: 230px;
      .menu_parent {
        .menu_header {
          margin-bottom: 8px;
          .menu_logo {
            height: 43px;
            width: 104px;
          }
        }
        .menu_bar {
          li {
            margin-bottom: 8px;
          }
        }
        .menu_side_tab {
          .menu_side_menu {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
